@import url("https://api.fontshare.com/v2/css?f[]=clash-display@200,300,400,500,600,700&f[]=satoshi@300,400,500,700,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/geometr415-blk-bt");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-clash: "Clash Display", sans-serif;
  --font-satoshi: "Satoshi", sans-serif;
  --animate-scroll: scroll var(--animation-duration, 40s)
    var(--animation-direction, forwards) linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }

  --animate-dot-blink: dot-blink 1.5s infinite ease-in-out;
  @keyframes dot-blink {
    0%,
    100% {
      opacity: 1;
      transform: scale(1.1);
      box-shadow: 0 0 12px rgba(0, 227, 255, 0.8), 0 0 4px rgba(0, 227, 255, 0.5);
    }
    50% {
      opacity: 0.5;
      transform: scale(0.9);
      box-shadow: 0 0 2px rgba(0, 227, 255, 0.2);
    }
  }

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* avenir */
  --font-avenir: "Avenir", sans-serif;
  --font-avenir-thin: "AvenirThin", sans-serif;
  --font-avenir-thin-italic: "AvenirThinItalic", sans-serif;

  --font-avenir-ultralight: "AvenirUltraLight", sans-serif;
  --font-avenir-ultralight-italic: "AvenirUltraLightItalic", sans-serif;

  --font-avenir-light: "AvenirLight", sans-serif;
  --font-avenir-light-italic: "AvenirLightItalic", sans-serif;

  --font-avenir-regular: "AvenirRegular", sans-serif;
  --font-avenir-italic: "AvenirItalic", sans-serif;

  --font-avenir-medium: "AvenirMedium", sans-serif;
  --font-avenir-medium-italic: "AvenirMediumItalic", sans-serif;

  --font-avenir-demi: "AvenirDemi", sans-serif;
  --font-avenir-demi-italic: "AvenirDemiItalic", sans-serif;

  --font-avenir-bold: "AvenirBold", sans-serif;
  --font-avenir-bold-italic: "AvenirBoldItalic", sans-serif;

  --font-avenir-heavy: "AvenirHeavy", sans-serif;
  --font-avenir-heavy-italic: "AvenirHeavyItalic", sans-serif;

  /* geometric */
  --font-geometric: "Geometr415 Blk BT", sans-serif;

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-emerald-600: #059669;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  /* my custom cursor */
  /* --my-cursor: url("/cursor.png"), pointer; */

  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.13 0.028 261.692);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary: oklch(0.21 0.034 264.665);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary: oklch(0.967 0.003 264.542);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.967 0.003 264.542);
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);
}

.dark {
  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(0.985 0.002 247.839);
  --primary: oklch(0.928 0.006 264.531);
  --primary-foreground: oklch(0.21 0.034 264.665);
  --secondary: oklch(0.278 0.033 256.848);
  --secondary-foreground: oklch(0.985 0.002 247.839);
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(0.985 0.002 247.839);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.034 264.665);
  --sidebar-foreground: oklch(0.985 0.002 247.839);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

/* @font-face {
  font-family: "Geometric";
  src: url("/fonts/Geometric_415_Black_Regular.otf") format("opentype");
  font-style: normal;
  font-display: swap;
} */

/* @font-face {
  font-family: "Geometric";
  src: url("/fonts/Geometr415-black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
} */

@font-face {
  font-family: "AvenirThin";
  src: url("/fonts/AvenirNextCyr-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirThinItalic";
  src: url("/fonts/AvenirNextCyr-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvenirUltraLight";
  src: url("/fonts/AvenirNextCyr-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirUltraLightItalic";
  src: url("/fonts/AvenirNextCyr-UltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvenirLight";
  src: url("/fonts/AvenirNextCyr-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirLightItalic";
  src: url("/fonts/AvenirNextCyr-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvenirRegular";
  src: url("/fonts/AvenirNextCyr-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirItalic";
  src: url("/fonts/AvenirNextCyr-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvenirMedium";
  src: url("/fonts/AvenirNextCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirMediumItalic";
  src: url("/fonts/AvenirNextCyr-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvenirDemi";
  src: url("/fonts/AvenirNextCyr-Demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirDemiItalic";
  src: url("/fonts/AvenirNextCyr-DemiItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvenirBold";
  src: url("/fonts/AvenirNextCyr-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirBoldItalic";
  src: url("/fonts/AvenirNextCyr-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvenirHeavy";
  src: url("/fonts/AvenirNextCyr-Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirHeavyItalic";
  src: url("/fonts/AvenirNextCyr-HeavyItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@layer utilities {
  .fade-bottom {
    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  }

  .custom-ping {
    animation: custom-ping 3s cubic-bezier(0, 0, 0.5, 1) infinite;
  }

  .custom-delay-1 {
    animation-delay: 2s;
  }

  .custom-delay-2 {
    animation-delay: 4s;
  }

  @keyframes custom-ping {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(1.5);
      opacity: 0;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50 font-avenir;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.button {
  @apply bg-[#F61313] px-8 py-4;
}

.btn-outline {
  @apply border-[1px] border-[#656565] px-8 py-4 rounded-3xl hover:ring-1 ring-white duration-300;
}

.btn-variant2 {
  @apply px-16 py-4 rounded-lg bg-white hover:shadow-[0_0px_20px_rgba(0,0,0,0.1)] shadow-white hover:ring-2 ring-white active:ring-2 border-black border-2 duration-300;
}

ul.styled-list li {
  @apply my-2 text-sm md:text-base text-white;
}

.text-avenir-20 {
  @apply text-[20px] text-white font-extrabold font-avenir text-left;
}

.text-avenir-16 {
  @apply text-base text-white font-extralight font-avenir duration-300;
}

html::-webkit-scrollbar-button {
  display: none;
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.macos-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

.macos-scrollbar::-webkit-scrollbar-track {
  background: black;
}

.macos-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.macos-scrollbar::-webkit-scrollbar-button {
  background-color: transparent;
}

.input-box {
  border: 0.5px solid rgb(106, 105, 105);
  background-color: black;
  font-family: "avenir", "sans-serif";
  font-weight: bold;
  color: white;
  padding: 4px 9px;
  outline: none;
  border-radius: 6px;
  min-height: 50px;
  margin-top: 12px;
}
.error-input-box {
  border: 0.5px solid #ff0000;
  background-color: #210000;
  font-family: "avenir", "sans-serif";
  font-weight: bold;
  color: white;
  padding: 4px 9px;
  outline: none;
  border-radius: 6px;
  min-height: 50px;
  margin-top: 12px;
}

.input-box:active {
  border: 0.5px solid #ccc;
}

.custom-cursor {
  cursor: url("/cursor.png"), auto;
}
